{% extends "layout/base.html" %}

{% block title %} AutomaticClassManagement - Student Management {% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a style="color:white;" class="nav-link" href="{{ url_for('class_management') }}">Quản lý lớp học</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Phân lớp tự động</a>
    </li>
</ul>
<br>
    <div class="col-md-6">
        <form method="post" action="{{ url_for('class_management') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="class_grade">Khối</label>
                <select class="form-control" id="class_grade" name="class_grade" required>
                    <option value="10">Khối 10</option>
                    <option value="11">Khối 11</option>
                    <option value="12">Khối 12</option>
                </select>
            </div>
            <div class="form-group">
                <label for="student_count">Sĩ số lớp</label>
                <input type="number" class="form-control" id="student_count" name="student_count"
                       placeholder="Nhập sĩ số lớp" required>
            </div>


            <br>
            <div class="form-group">
                <button type="submit" class="border_btn" style="background-color: #32383e; color: white;">Thêm lớp học
                </button>
            </div>
            <br>
        </form>
    </div>
{% endblock %}