{% extends "layout/base.html" %}

{% block title %} ChangePassword - Student Management {% endblock %}

{% block content %}
<div style="margin:5% auto;" class="col-md-5">
    <div class="box box-danger">
        <div class="box-body">
            <form action="{{ url_for('test_password') }}" method="POST">
                <label><span style="color:#ff0000">*</span> Xác nhận mật khẩu đang sử dụng:</label>
                <div class="form-group">
                    <div class="form-line">
                        <input class="form-control" placeholder="Nhập mật khẩu cũ đang sử dụng"
                               type="password" name="old_password" id="old_password" required>
                    </div>
                </div>
                <label><span style="color:#ff0000">*</span> Mật khẩu mới:</label>
                <div class="form-group">
                    <div class="form-line">
                        <input class="form-control" placeholder="Độ dài từ 8 kí tự: Ít nhất 1 kí tự hoa, 1 kí tự đặc biệt và 1 kí tự số"
                               type="password" name="new_password" id="new_password" required>
                    </div>
                </div>
                <label><span style="color:#ff0000">*</span> Nhập lại mật khẩu mới:</label>
                <div class="form-group">
                    <div class="form-line">
                        <input class="form-control" placeholder="Nhập lại mật khẩu mới vừa tạo"
                               type="password" name="new_password_test" id="new_password_test" required>
                    </div>
                </div>
                <input type="hidden" name="usertype" id="usertype" value="DKMH-svcq">
                <br>
                <button style="background:#32383e;border:none;" type="submit" class="btn btn-primary">Lưu thông tin
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}