{% extends "layout/base.html" %}

{% block title %} StudentInfo - Student Management {% endblock %}

{% block content %}
<form style="justify-content: space-evenly" class="user_info"
      method="POST" action="{{ url_for('student_update', student_id=student.id) }}"
      enctype="multipart/form-data">
    <div class="card" style="width:15%;height:100%;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/user_image/' ~ student.image_link) }}"
             alt="Student image">
        <div style="margin:auto;" class="card-body">
            <div class="form-group text-center">
                <label for="photo"><b>Mã học sinh: {{student.id}}</b></label>
                <input type="file" class="form-control" id="photo" name="photo">
            </div>
        </div>
    </div>
    <div style="width:80%;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="last_name">Họ</label>
                    <input type="text" class="form-control" id="last_name" name="last_name"
                           value="{{ student.last_name }}" required>
                </div>
                <div class="form-group">
                    <label for="birth_date">Ngày sinh</label>
                    <input type="date" class="form-control" id="birth_date" name="birth_date"
                           value="{{ formatted_date }}" required>
                </div>
                <div class="form-group">
                    <label for="gender">Giới tính</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="{{ student.gender }}">{{ student.gender }}</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ</label>
                    <input type="text" class="form-control" id="address" name="address"
                           value="{{ student.address }}" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="first_name">Tên</label>
                    <input type="text" class="form-control" id="first_name" name="first_name"
                           value="{{ student.first_name }}"
                           required>
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ student.phone }}"
                           required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                           value="{{ student.email }}"
                           required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <ul style="display:flex;list-style-type:none;padding:0;margin-top:2%;">
                <li style="margin-right:2%;">
                    <button style="color:white;" type="submit" class="btn background-btn border_btn">Lưu thay đổi
                    </button>
                </li>
                <li><a style="color:white;" class="btn background-btn border_btn"
                       href="{{ url_for('student_searching') }}">Trang tra cứu</a>
                </li>
            </ul>
        </div>
    </div>
</form>

{% endblock %}