{% extends "layout/base.html" %}

{% block title %} UserInfo - Student Management {% endblock %}

{% block content %}
<div class="user_info">
    <div class="card" style="width:15%;">
        <img class="card-img-top" src="{{ url_for('static', filename=user.image_link) }}" alt="Card image">
        <div style="margin:auto;" class="card-body">
            <p class="card-text end">{{user.username}}</p>
        </div>
    </div>
    <ul style="width:75%;background:white;" class="list-group list-group-flush">
        <h2 style="margin:2% auto 0;">THÔNG TIN NGƯỜI DÙNG</h2>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6">Họ và tên: <b>{{user.last_name}} {{user.first_name}}</b></div>
                <div class="col-md-6">User id: <b>{{user.id}}</b></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6">Ngày sinh: <b>{{formatted_date}}</b></div>
                <div class="col-md-6">Email: <b>{{user.email}}</b></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6">Giới tính: <b>{{user.gender}}</b></div>
                <div class="col-md-6">Số điện thoại: <b>{{user.phone}}</b></div>
            </div>
        </li>
        <b style="margin: 2%;">Vui lòng liên hệ trực tiếp Trung tâm Quản lý Hệ thống thông tin/gửi mail <a style="color:#32383e;" href="mailto:trungtamhttt@ou.edu.vn">trungtamhttt@ou.edu.vn</a> khi có sai sót thông tin!</b>
    </ul>
</div>
{% endblock %}